body{

	
}

h1{

	text-align: center;
}

.button-container{

text-align: center;

}

.button-class{
	padding: 10px;
	margin: 20px;
	background-color: #20B2AA;
}

.gify-container{

	margin-top: 50px;

	
}

label, input{
	margin: 10px;
}

.gifs{
	float: left;
	height: 200px;
	width: 200px;
	
}

.form-container{

	
	
}