body{
max-width: 80%;

background-color: grey;


	
}

#main-container{


}

#button-container{

}

#gify-container{
	max-width : 1000px;
}

label, input{
	margin: 10px;
}

.gifs{
	float: left;
	margin: 10px;
}

#form-container{
	float: right;
}